<div class="panel" _ngcontent-kwt-c74="">
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-12">
        <h6 *ngIf="keys?.length > 0">{{ keys[0] }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let chart of chartOptions1; let i = index">
        <div class="card p-4">
          <h5 class="text-center mb-3" *ngIf="catagoryKey?.[i]">{{ catagoryKey[i] }}</h5>
          <div echarts [options]="chart" class="chart-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel" _ngcontent-kwt-c74="">
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-12">
        <h6 *ngIf="keys?.length > 1">{{ keys[1] }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-4" *ngFor="let chart of chartOptions2; let i = index">
        <div class="card p-4">
          <h5 class="text-center mb-3" *ngIf="catagoryKey?.[i]">{{ catagoryKey[i] }}</h5>
          <div echarts [options]="chart" class="chart-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center bg-white rounded-full shadow-md p-2">
  <i class="fas fa-chevron-left text-blue-500"></i>
</div>

<div class="sidebar" [class.open]="isOpen()">
  <button class="toggle-button" (click)="toggleSidebar()">
    <span *ngIf="!isOpen()">◀</span>
    <span *ngIf="isOpen()">▶</span>
  </button>

   <div class="sidebar-close" *ngIf="!isOpen()">
    <ul class="country-set" *ngIf="isInitial">
      <img
      [src]="'https://flagcdn.com/w40/' + closeSideBar?.flag"
          alt="{{closeSideBar?.countryName }}"
      />
      {{closeSideBar?.countryName }}
    </ul>
   </div>

   <div class="sidebar-close" *ngIf="!isOpen()">
    <ul class="country-set" *ngIf="!isInitial">
      <img
      [src]="'https://flagcdn.com/w40/' +  countries[0].flag"
          alt="{{ countries[0].countryName }}"
      />
      {{ countries[0].countryName }}
    </ul>
   </div>

  <div class="sidebar-content" *ngIf="isOpen()">
    <input
      type="text"
      placeholder="Search countries..."
      [(ngModel)]="searchText"
      class="search-box"
    />
    <ul class="country-list">
      <li *ngFor="let country of countries" (click)="selectedcountry(country)">
        <img 
          [src]="'https://flagcdn.com/w40/' + country.flag"
          alt="{{ country.countryName }}"
        />
        {{ country.countryName }}
      </li>
    </ul>
  </div>
</div>