  .chart-container {
    height: 300px;
  }
  .panel[_ngcontent-kwt-c74] {
    padding: 25px 15px;
    box-shadow: 0 0 9px 1px #cccccc7f;
    margin-bottom: 30px;
    border-radius: 26px;
    margin-left: 300px;
    margin-top: 30px;
    margin-right: 30px;
  }
  .title-row {
    margin-top: -20px;
  }
  .panel[_ngcontent-tbh-c74] {
    margin-bottom: 0;
    color: #0000003b;
    font-weight: 700;
  }

  /* Header Container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #2a7cf6;
}

.data-details {
  font-size: 14px;
  color: #2a7cf6;
}

.guide-section {
  text-align: right;
}

.guide-link {
  font-size: 14px;
  color: #2a7cf6;
  text-decoration: none;
}

.toggle-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.toggle-button-group {
  display: flex;
  border-radius: 20px;
  background-color: #e0e0e0;
  overflow: hidden;
  height: 35px;
}

.toggle-button {
  flex: 1;
  text-align: center;
  font-size: 14px;
  border: none;
}

.toggle-button.mat-button-toggle-checked {
  background-color: #57d9a3;
  color: white;
}

/* Sidebar */
.sidebar {
  position: absolute;
  right: 20px; /* Place near toggle buttons */
  top: 80px; /* Below the header */
  width: 50px; /* Default collapsed width */
  height: 50px; /* Adjustable height */
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.open {
  width: 150px; /* Expand width */
  height: 600px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 0; /* Attach to the sidebar */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1100;
}

.sidebar-content {
  padding: 10px;
}

.search-box {
  width: 100%;
  
  border: 1px solid #ccc;
  border-radius: 4px;
}

.country-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.country-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.country-list img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

  